<!-- header -->
<div class="head-wrapper">
	<h2>这里是header</h2>
</div>

<!-- nav -->
<div class="nav-wrapper">
	<ul>
		<li>
			<span>模块1</span>
			<div>
				<a [routerLink]="['/index/page1']" routerLinkActive="active">模块1-1</a>
				<a [routerLink]="['/index/page2']" routerLinkActive="active">模块1-2</a>
			</div>
		</li>
		<li>
			<span>模块2</span>
			<div>
				<a [routerLink]="['/index/page3']" routerLinkActive="active">模块2-1</a>
				<a [routerLink]="['/index/page4']" routerLinkActive="active">模块2-2</a>
			</div>
		</li>
	</ul>
</div>

<!-- 右侧视图 -->
<div class="router-wrapper">
	<router-outlet></router-outlet>
</div>
